.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    margin-left: 20px;
    width: 290px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ffffff;
    color: white;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    background-color: #00000079;
}

.card img{
    width: 70%;
    padding-top: 40px;
}

.card:hover{
    box-shadow: 0 0 20px 0 #ffffff;
    transform: scale(1.03);
    transition: 0.3s;
}
.card:active{
    transform: scale(0.97);
    transition: 0.1s;
}